pkgbase = msdl-bin
	pkgdesc = Download Windows ISO files directly from Microsoft's servers
	pkgver = 0.3.6
	pkgrel = 1
	url = https://msdl.tech-latest.com
	arch = x86_64
	arch = aarch64
	license = MIT
	provides = msdl
	conflicts = msdl
	source_x86_64 = msdl-bin-0.3.6-x86_64::https://github.com/starkSV/windows-iso-downloader/releases/download/cli%2Fv0.3.6/msdl-linux-amd64
	sha256sums_x86_64 = b88d3ac5a1896ae107fc51603d6c9287c2eb79906511cd11758e65e1cb41d6a0
	source_aarch64 = msdl-bin-0.3.6-aarch64::https://github.com/starkSV/windows-iso-downloader/releases/download/cli%2Fv0.3.6/msdl-linux-arm64
	sha256sums_aarch64 = 350a80ff5f2857fc88c2ee6be78bb5218f3623dfdeaa51a2d875bb6277f3ddd7

pkgname = msdl-bin
